{% extends "authentication/base.html" %}

{% block title %}
    Add Item
{% endblock %}

{% block main %}
<h1>Create Shop</h1>
<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticEmail" name="name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
      </div>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="price">
    </div>

    <div class="input-group mb-3">
      <label for="id_file_field">Images</label>
      <input type="file" name="images" multiple required id="id_file_field">
    </div>


      <p>If you are in United States and Choosing to use one of USPS' delivery service, fill it below</p>
      <div>
        <input type="text" placeholder="zip" class="form-control" name="zip">
      </div>

      <div>
        <select class="custom-select" name="usps">
          <option selected>USPS Options</option>
          <option value="PriorityMail">Priority Mail® Service Standards</option>
          <option value="FirstClassMail">First-Class Mail® Service Standards</option>
          <option value="ExpressMailCommitment">Priority Mail Express® Service Commitments</option>
        </select>
      </div>

      <br>
      <br>
      <hr>
      <br>
      <br>

      <p>If you are not in United States and/or not choosing USPS, then fill this part in</p>
      <div>
        <label id="fastest">Fastest Estimated Delivery Days</label>
        <input type="number" id="fastest" name="fastest">
      </div>
      <div>
        <label id="slowest">Slowest Estimated Delivery Days</label>
        <input type="number" id="slowest" name="slowest">
      </div>

      <br>
      <br>
      <hr>
      <br>
      <br>

      <div class="input-group mb-3">
        <label for="shipping">Shipping cost</label>
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="shipping">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
{% endblock %}