{% extends "shopper/base.html" %}

{% block title %}
    Welcome to eCommerce!
{% endblock %}

{% block main %}
    <h1>Welcome to eCommerce!</h1>
    <p>Popular Items...</p>
        {% for i in popular %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ i.2.img_url }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title"><a href="/item/{{ i.0.item_id }}">{{ i.0.name }}</a></h5>
                    <p class="card-text">{{ i.0.description }}</p>
                    <p class="card-text"><small class="text-muted">${{ i.0.price }}</small></p>
                    <p class="card-text"><small class="text-muted">Viewed <b>{{ i.1 }}</b> time(s) of last hour!</small></p>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}